

<div class="row text-center">
    <div class="col-lg-6 col-md-12 mb-4 offset-3 mt-3">

      <mdb-card>
        <mdb-card-body>
            <h1 class="font-weight-bold deep-orange-lighter-hover mb-3 text-primary">404</h1>
            <mdb-icon class="far fa-angry h1"></mdb-icon>
            <p class="brown-lighter-hover h2">Page not found</p>
            <a routerLink='/'>Click to home page</a>
        </mdb-card-body>
      </mdb-card>

    </div>
    <div class="col-lg-4 col-md-6 mb-4">

      <mdb-card>
